@()
<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Ticket REST API</title>
</head>

<body>
  <h1>Ticket REST API</h1>
  <p>
    This is a placeholder page to show you the REST API. Use
    <a href="https://httpie.org/">httpie</a> to post JSON to the application.
  </p>
  <p>
    To see all tickets, you can do a GET:
  </p>
  <pre>
      <code>http GET localhost:9000/v1/tickets</code>
    </pre>
  <p>
    To create new tickets, do a post
    <p>
      <pre>
      <code>http POST localhost:9000/v1/tickets creator="Some requestor" description="Some description" </code>
    </pre>
      <p>
        You can always look at the API directly:
        <a href="/v1/tickets">/v1/tickets</a>
      </p>
</body>

</html>